# syncfail2ban.service
[Unit]
Description=Syncfail2ban Service
After=network.target

[Service]
Type=simple
ExecStart=/etc/syncfail2ban/syncfail2ban
Restart=on-failure

[Install]
WantedBy=multi-user.target